#myBtn {
  display: none;
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: rgba(0, 68, 255, 0.959);
}