#myBtn {
  display: none;
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: rgba(0, 68, 255, 0.959);
}

.hidden {
  display: none;
}

.hero {
  background-image: url(https://images.pexels.com/photos/2649403/pexels-photo-2649403.jpeg?cs=srgb&dl=pexels-quang-nguyen-vinh-2649403.jpg&fm=jpg);
  background-position: center;
  background-size: cover;
  top: 10;
  left: 0;
  background-color: rgb(250, 246, 246);
  opacity: 0.8;
  color: #000;
}

#currentDay {
  color: aliceblue;
  font-weight: bolder;
}